#checkoutItems-width{
    width: 70%;
}
#checkoutButtons{
    width: 30%;
}
.itemsOverview{
    padding-left: 50px;
}

.column {
    float:left;
    width: 25%;
    padding: 3px;
}
#checkOutRemoveItem{
    right: 0;
    position: absolute;
    z-index: 1;
}

.itemAmountCheckout {
    height: 34px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d0b962;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }

#changeableFont h3{
    font-size: 3vw;
    size:calc(100% + 2vw);
  }

#changeableFont p{
    font-size: 3vw;
    size:calc(100% + 2vw);
}

.card .contain{
    height: 15vw;
}