.option{
    position: relative;
    border-radius: 1em;
}
.option:hover .middle{
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 1em;
    padding: 16px 32px;
}

.dashboard-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.dashboard-wrapper .option{
    flex:150px;
    margin: 0px;
}