.productsRow{
    margin-left: 15%;  
    width: 85%;
}
.column {
    float:left;
    width: 25%;
    padding: 3px;
}

.columnDetail{
    width: 50%;
}

.contain{
    object-fit: fill;
}
#detailImage{
    width: 70%;
    height: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}
.card img:hover{
    opacity: 0.7;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
    position: relative
  }
  
.sideBar {
    margin-left: 10px;
    height: 100%;
    width: 13%;
    position: absolute;
    min-height: 100%;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    background-color: white;
    padding-top: 20px;
}

.searchBar{
    width: 100%;
    padding: 6px;
}