.row2{
    align-items: center;
}
.column {
    float:left;
    width: 25%;
    padding: 10px;
}

.columnDetail{
    width: 50%;
}
.ImageRow{
    width: 50%;
}
.contain{
    object-fit: fill;
}
#detailImage{
    width: 70%;
    height: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #1c292c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}
.card img:hover{
    opacity: 0.7;
}