.productsRow{
    margin-left: 15%;  
    width: 85%;
}
.column {
    float:left;
    width: 25%;
    padding: 3px;
}

.columnDetail{
    width: 50%;
}

.contain{
    object-fit: fill;
}
#detailImage{
    width: 70%;
    height: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    padding-top: 3px;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}
.card img:hover{
    opacity: 0.7;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
    position: relative
  }
  
.sideBar {
    margin-left: 10px;
    height: 100%;
    width: 13%;
    position: absolute;
    min-height: 100%;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    background-color: white;
    padding-top: 20px;
}

#sort{
    height: 34px;
    width: 215px;
    border-radius: 5px;
    border: 1px solid #d0b962;
    background-color: #eee;
    padding: 0;
    font-size: 1.2em;
}
.searchBar{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #d0b962;
}

.priceRangeInput {
    height: 34px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #d0b962;
    background-color: #eee;
    padding: 0;
    text-align: left;
    font-size: 1.2em;
}

.nextPrev{
    max-width: 150px;
    left: 50%;
}
#emptySearch{
    height: 450px;
    width: 95%;
    text-align: center;
    line-height: 200px;
}
#emptySearch p {
    font-size: x-large;
    vertical-align: middle;
}