/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*------------------------Robert-------------------------- */

.customNav{
  background: #d0b962;
  color: white; 
  height: 70px;
}
.customYellow{
  background: #d0b962;
  color: white; 
}
.customGreen{
  background-color: #064403;
  color: white; 
}
.startPic{
  width:100%;
  height: 100%;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.customerService{
  color: white;
  background: #d0b962;
  border-radius: 3px;
}

.happyCustomer{
  color: white;
  background-color: #064403;
  border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divCheck{
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.topMenu:hover{
  opacity: 1;
  border-bottom: 3px solid #064403;
}
.removeItem:hover{
  opacity: 1;
  border-bottom: 3px solid red;
}
.topMenuItems{
  color: #064403;
  height: 30px;
  width: 25px;
}
.deleteButton{
  color:red;
}

@media(max-width: 767px){
  .nav-link .itemLabel{
    display: none;
  }
}

.nav-flex-container {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.nav-flex-container > a {
  right: 0;
  margin: 0px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper .box1{
  flex: 700px;
}
.wrapper .box2{
  flex:150px;
}
.wrapper2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper2 .box2{
  flex:300px
}
.wrapper2 .box1{
  flex:150px
}

.carousel-inner .carousel-item{
  height: 42.5vw;
}

.wrapper h3{
  animation-duration: 3s;
  animation-name: slidein;
}
.wrapper2 h3{
  animation-duration: 3s;
  animation-name: slidein;
}

#available{
  height: 610px;
  width: auto;
  background: url("../Resources/Images/available.png") center fixed;
  background-repeat: no-repeat;
  background-size: cover !important;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: white;
  width: auto;
}
#available h1{
  font-size: 70px;
}

#availableText{
  margin: auto;
  width: 60%;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

[v-cloak] { display: block; }
