<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AsianShop</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/productView.css" />
    <link rel="stylesheet" href="~/css/checkout.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow customNav">    
        <div class="container">
             <a asp-area="" asp-controller="Home" asp-action="Index">
                <img alt="logo" src="/Resources/Images/logo.png" width="60" height="60"/>
            </a>
            <div class="flex-container">
                    <a class="nav-link text-dark topMenu" asp-area="" asp-controller="Products" asp-action="Index">
                        <i class='fas fa-shopping-basket topMenuItems'></i><span>Products</span>
                    </a>                    
                    <partial name="_LoginPartial" />
                    <div class="dropleft">
                    <a class="nav-link text-dark dropdown-toggle topMenu" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart topMenuItems"></i>Cart
                    </a>
                    <partial name="ClientView/_CartPartial"/>
                </div>
            </div>
        </div>
    </nav>
</header>
 <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - AsianShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true" type="text/javascript" ></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="~/js/clientToServerController.js" defer></script>
    <script src="~/js/cartViewController.js" defer></script>
@{
    var currentController = (string)ViewContext.RouteData.Values["controller"] ;
    var currentAction = (string)ViewContext.RouteData.Values["action"] ;
    if (currentController != null){
        if(currentController.Equals("Products")){
            if (currentAction.Equals("Details")){
             <script src="~/js/clientViewController.js" defer></script>
            }
            
        }
        if (currentController.Equals("Dashboard")){
                <script src="~/js/dashboardController.js" defer></script>
            }
        if (currentController.Equals("Checkout")){
            if(currentAction.Equals("Index"))
            {
                <script src="~/js/checkOutViewController.js" defer></script>
            }   
        }
    }
}
@RenderSection("Scripts", required: false)
</body>
</html>
