<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AsianShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/productView.css" />
    <link rel="stylesheet" href="~/css/checkout.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow customNav">    
        <div class="container">
             <a asp-area="" asp-controller="Home" asp-action="Index">
                <img alt="logo" src="/Resources/Images/logo.png" width="60" height="60"/>
            </a>
            <div class="nav-flex-container">
                    <a class="nav-link text-dark topMenu" asp-area="" asp-controller="Products" asp-action="Index">
                        <svg viewBox="0 0 16 16" class="bi bi-shop topMenuItems" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                    </svg><span class="itemLabel">Products</span>
                    </a>                    
                    <partial name="_LoginPartial" />
                    <div class="dropleft">
                    <a class="nav-link text-dark dropdown-toggle topMenu" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3 topMenuItems" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg></i><span class="itemLabel">Cart</span>
                    </a>
                    <partial name="ClientView/_CartPartial"/>
                </div>
            </div>
        </div>
    </nav>
</header>
 <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - AsianShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true" type="text/javascript" ></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="~/js/clientToServerController.js" defer></script>
    <script src="~/js/cartViewController.js" defer></script>
@{
    var currentController = (string)ViewContext.RouteData.Values["controller"] ;
    var currentAction = (string)ViewContext.RouteData.Values["action"] ;
    if (currentController != null){
        if(currentController.Equals("Products")){
            if (currentAction.Equals("Details")){
             <script src="~/js/clientViewController.js" defer></script>
            }
            
        }
        if (currentController.Equals("Dashboard")){
                <script src="~/js/dashboardController.js" defer></script>
            }
        if (currentController.Equals("Checkout")){
            if(currentAction.Equals("Index"))
            {
                <script src="~/js/checkOutViewController.js" defer></script>
            }   
        }
    }
}
@RenderSection("Scripts", required: false)
</body>
</html>
