@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <a class="btn dropdown-toggle" type="button" data-toggle="dropdown"><i class="far fa-user-circle topMenuItems"></i></a>
        <div class="dropdown-menu">
            <a class="nav-link text-dark topMenu" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> <i class="far fa-user-circle topMenuItems"></i>User</a>
            @if (User.IsInRole("Admin"))
            {
                <a class="nav-link text-dark topMenu" asp-area="" asp-controller="Dashboard" asp-action="Index"><i class='fas fa-clone topMenuItems'></i>DashBoard</a>
            }
            <form  class="form-inline topMenu" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">            
                <button  type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-user-alt-slash topMenuItems"></i>Logout</button>
            </form>
        </div>
    </div>

}
else
{
    <a class="nav-link text-dark topMenu" asp-area="Identity" asp-page="/Account/Login"> <i class="far fa-user-circle topMenuItems"></i>Login</a>
}
    