@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>This is a project that I made for fun. 
        I dont use anything for commercial purposes, just for my learning.</p>
</div>
