<div>
    <h1 style="text-align:center">Thank you!</h1>
    <p style="text-align:center"> <strong>Thank you for your purchase from AsianStore.</strong></p>
    <p style="text-align:center">An email with the receipt is sent to your email. We hope to have the pleasure of doing business with you in the future.</p>
</div>