@using System.Security.Claims
@model AsianShop.Models.Product
<div class="container">
    <div class="alert alert-success" role="alert" id="infoBoard" style="visibility: hidden">
    </div>
    <div class="row">
        <div class="columnDetail">
            @if (@Model.TypeId != 0)
            {
                var picturePath = @Model.FilePath;
                <img alt="Image" class="contain" id="detailImage" width="500" height="300" src="@picturePath"/>
            }
        </div>
        <div class="columnDetail">
            <partial name="ClientView/_DetailPartial"/>
        </div>
        </div>
</div>
    
