<div id="productsView" v-cloak>
    <div id="wrapper">
        <div class="sideBar">
            <strong>Search for products</strong>
            <input type="text" class="searchBar" placeholder="Search.." v-model="searchedWord"/>
            <hr />
            <h6>Price</h6>
            <div>
                <div>
                    <input type="number" class="cart-quantity-input" oninput="validity.valid||(value='');" v-model="min" />
                    <span>Min</span>
                </div>
                <div>
                    <input type="number" class="cart-quantity-input" oninput="validity.valid||(value='');" v-model="max" />
                    <span>Max</span>
                </div>
                <button type="button" class="btn customGreen" v-on:click="setNewPriceRange()">Search</button>
            </div>
            <br />
            <h6>Types</h6>
            <div v-for="type in types">
                <input class="test" type="checkbox" :value="type.id" v-model="checkedTypes" v-on:change="getCheckedProducts()"/>
                <label>{{type.name}}</label>
            </div>
            <br />
        </div>
        <div class="row productsRow">
            <div class="column" v-for="product in filteredProducts">
                <div class="card">
                    <a :href="'/products/details/'+product.id">
                        <img :alt="product.name" class="contain" :src="product.filePath" height="300" style="width: 100%;" />
                    </a>
                    <h3>{{product.name}}</h3>
                    <p class="price">{{product.price}} kr/{{product.unit}}</p>
                    <a :href="'/products/details/'+product.id">
                        <button class="customGreen">See more</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row productsRow" >
            <div class="column" id="emptySearch" style="display: none;">
                <p><strong>We couldn't find what you are looking for</strong></p>
            </div>
        </div>
    </div>
</div>
