<div id="frontImages" style="display:none">
    <div class="container">
        <h1 class="font-weight-light text-center mt-4 mb-0">Front Images</h1>
        <hr class="mt-2 mb-5">
        
            <div class="row text-center text-lg-left">
                <div class="col-lg-3 col-md-4 col-6" v-for="image in frontImages">
                    <a v-on:click="openImage(image)" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" :src="image.filePath" :alt="image.name">
                    </a>
                </div>
            </div>
        
        <button v-on:click="openAddModal" class="btn customGreen">Add Image</button>
    </div>

    <div id="imageDisplayer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <h3 class="font-weight-light text-center mt-4 mb-0">{{frontImage.name}}</h1>
                <img class="img-fluid img-thumbnail" :src="frontImage.filePath" :alt="frontImage.name">                        
                <button class="btn btn-danger" v-on:click="deleteFrontImage(frontImage.id)">Delete</button>
            </div>
        </div>
    </div>

    <div id="addImageModal" class="modal fade" tabindex="-1" role="dialog"aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h2 style="text-align:center">Add Type</h2>
                <h6 class="necessaryInfo"></h6>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name of the type" v-model="frontImage.name" class="form-control">
                        </div>                       
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Choose image</label>
                        <input type="file" accept="image/*" class="files" ref="file" v-on:change="uploadImage()"/>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button v-on:click="addImage" class="btn customGreen"> Add Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>