<div id="orders" style="display:none">
    <div class="text-center">
        <h1 class="display-4">Orders</h1>
    </div>
    <div class="divOnTableLayout">
        <table class="table" border="1">
            <thead>
                <tr class="table-succes">
                    <th>Id</th>
                    <th>Customer's name</th>
                    <th>Discount</th>
                    <th>Total price</th>
                    <th>Order date</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(order, index) in orders">
                    <td>{{order.id}}</td>
                    <td>{{order.customer.lastName}}, {{order.customer.firstName}}</td>
                    <td>{{order.discount}}</td>
                    <td>{{order.totalPrice}}</td>
                    <td>{{order.orderDate}}</td>
                    <td class="Remove">
                        <button class="btn btn-danger" >Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" >Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <button  class="btn btn-success"> Add Customer</button>
    </div>

    <div id="addCustomerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <h2 style="text-align:center">Add Customer</h2>
                <h6 class="necessaryInfo"></h6>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>First name*</label>
                            <input class="form-control" placeholder="First name" v-model="customer.firstName" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last name*</label>
                            <input class="form-control" placeholder="Last name" v-model="customer.lastName" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Email*</label>
                            <input class="form-control" placeholder="Email" v-model="customer.email" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Phone number*</label>
                            <input class="form-control" placeholder="Phone number" v-model="customer.phoneNumber" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Address*</label>
                            <input class="form-control" v-model="customer.postAddress" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Post place*</label>
                            <input class="form-control" v-model="customer.postPlace" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Zip*</label>
                            <input class="form-control" v-model="customer.postNumber" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Delivery address</label>
                            <input class="form-control" v-model="customer.deliveryPostAddress" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Delivery post place</label>
                            <input class="form-control" v-model="customer.deliveryPostPlace" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Delivery zip</label>
                            <input class="form-control" v-model="customer.deliveryPostNumber" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success"> Add Customer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="editCustomerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="divOnTableLayout">
                    <table class="table" border="1">
                        <thead>
                            <tr class="table-succes">
                                <th>Id</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Phone number</th>
                                <th>Post number</th>
                                <th>Post place</th>
                                <th>Post address</th>
                                <th>Delivery post number</th>
                                <th>Delivery post place</th>
                                <th>Delivery post address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-succes">
                                <td id="customerId">{{customer.id}}</td>
                                <td id="customerFirstName" contenteditable="true">{{customer.firstName}}</td>
                                <td id="customerLastName" contenteditable="true">{{customer.lastName}}</td>
                                <td id="customerEmail" contenteditable="true">{{customer.email}}</td>
                                <td id="customerPhoneNumber" contenteditable="true">{{customer.phoneNumber}}</td>
                                <td id="customerPostNumber" contenteditable="true">{{customer.postNumber}}</td>
                                <td id="customerPostPlace" contenteditable="true">{{customer.postPlace}}</td>
                                <td id="customerPostAddress" contenteditable="true">{{customer.postAddress}}</td>
                                <td id="customerDPostNumber" contenteditable="true">{{customer.deliveryPostNumber}}</td>
                                <td id="customerDPostPlace" contenteditable="true">{{customer.deliveryPostPlace}}</td>
                                <td id="customerDPostAddress" contenteditable="true">{{ customer.deliveryPostAddress}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>