<div id="products" style="display:none">
   <div class="text-center">
      <h1 class="display-4">Products</h1>
   </div>
   <div class="divOnTableLayout">
      <table class="table" border="1">
         <thead>
            <tr class="table-succes">
               <th>Id</th>
               <th>Name</th>
               <th>Price</th>
               <th>Type</th>
               <th>Unit</th>
               <th>From</th>
               <th>About</th>
               <th>Amount</th>
               <th>File Path</th>
               <th>Added date</th>
               <th>Edit</th>
               <th>Delete</th>   
            </tr>
         </thead>
         <tbody>
            <tr v-for="(product, index) in products">
               <td>{{product.id}}</td>
               <td>{{product.name}}</td>
               <td>{{product.price}}</td>
               <td>{{product.type.name}}</td>
               <td>{{product.unit}}</td>
               <td>{{product.from}}</td>
               <td>{{product.about}}</td>
               <td>{{product.amount}}</td>
               <td>{{product.filePath}}</td>
               <td>{{product.addedDateString}}</td>
               <td>
                  <button class="btn btn-primary" v-on:click="openEditModal(product)">Edit</button>
               </td>
               <td class="Remove">
                  <button class="btn btn-danger" v-on:click="deleteProduct(product.id,index)">Delete</button>
               </td>   
            </tr>
         </tbody>
      </table>
   </div>
   <div class="form-group">
      <button v-on:click="openAddModal" class="btn customGreen">Add Product</button>
   </div>

   <div id="addProductModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
               <h2 style="text-align:center">Add Product</h2>
               <h6 class="necessaryInfo"></h6>
               <div class="form-row">
                  <div class="form-group col-md-5">
                     <label class="control-label">Product name</label>
                     <input placeholder="Product name" v-model="product.name" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-5">
                     <label class="control-label">From</label>
                     <input placeholder="Product origin" v-model="product.from" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-2">
                     <label class="control-label">Price</label>
                     <input placeholder="Price" type="number" v-model="product.price" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-3">
                     <label class="control-label">Unit</label>
                     <input placeholder="Unit of product" v-model="product.unit" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-2">
                     <label class="control-label">Amount</label>
                     <input placeholder="Amount" type="number" v-model="product.amount" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label class="control-label">About</label>
                     <textarea placeholder="About the product" v-model="product.about" class="form-control" row="4"></textarea>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-4">
                     <label class="control-label">Type*</label>
                     <select v-model="product.type">
                        <option disabled value="">Please select a type</option>
                        <option v-for="type in types" v-bind:value="type" v-bind:key="type.id">{{type.name}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group col-md-6">
                  <label class="control-label">Product pic</label>
                  <input type="file" accept="image/*" class="files" ref="productFile" v-on:change="uploadProductFile()"/>
                  <span class="text-danger"></span>
               </div>
               <div class="form-group">
                  <button v-on:click="addProduct" class="btn customGreen"> Add Product</button>
               </div>
         </div>
      </div>
   </div>

   <div id="editProductModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
               <h2 style="text-align:center">Edit Product</h2>
               <h6 class="necessaryInfo"></h6>
               <div class="form-row">
                  <p type="hidden" id="productId">{{product.id}}</p>
                  <div class="form-group col-md-5">
                     <label class="control-label">Product name</label>
                     <input placeholder="Product name" v-model="product.name" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-5">
                     <label class="control-label">From</label>
                     <input placeholder="Product origin" v-model="product.from" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-3">
                     <label class="control-label">Price</label>
                     <input placeholder="Price" type="number" v-model="product.price" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-3">
                     <label class="control-label">Unit</label>
                     <input placeholder="Unit of product" v-model="product.unit" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-2">
                     <label class="control-label">Amount</label>
                     <input placeholder="Amount" type="number" v-model="product.amount" class="form-control"/>
                     <span class="text-danger"></span>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label class="control-label">About</label>
                     <textarea placeholder="About the product" v-model="product.about" class="form-control" row="4"></textarea>
                     <span class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-4">
                     <label class="control-label">Type*</label>
                     <select v-model="product.type">
                        <option disabled value="">Please select a type</option>
                        <option v-for="type in types" v-bind:value="type" v-bind:key="type.id">{{type.name}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group col-md-6">
                  <label class="control-label">Product pic</label>
                  <input type="file" accept="image/*" class="files" ref="editProductFile" v-on:change="uploadProductFile()"/>
                  <span class="text-danger"></span>
               </div>
               <div class="form-group">
                  <button v-on:click="editProduct()" class="btn customGreen"> Save edit</button>
               </div>
         </div>
      </div>
   </div>
</div>