<div id="database" v-cloak align="center">
    <div align="left" id="resetButton" style="display: none">
        <button type="button" class="btn customGreenButton" v-on:click="backToDashboard"> < Dashboard</button>
    </div>
    <div style="display:block" id="dashboard">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
        </div>
        <div class="row">
            <div class="container2 column images border border-dark" style="flex: 1">
                <img src="Resources/Images/Customers.png" alt="Avatar" style="width: 100%" height="218">
                <div class="middle">
                    <button class="text" v-on:click="openCustomerViewPartial">Customer</button>
                </div>
            </div>

            <div class="container2 column images border border-dark" style="flex: 1">
                <img src="Resources/Images/products.png" alt="Avatar" style="width: 100%" height="218">
                <div class="middle">
                    <button class="text" v-on:click="openProductViewPartial">Products</button>
                </div>
            </div>

            <div class="container2 column images border border-dark" style="flex: 1">
                <img src="Resources/Images/Orders.png" alt="Avatar" style="width: 100%" height="218">
                <div class="middle">
                    <button class="text" v-on:click="openOrderViewPartial">Orders</button>
                </div>
            </div>
            <div class="container2 column images border border-dark" style="flex: 1">
                <img src="Resources/Images/types.png" alt="Avatar" style="width: 100%" height="218">
                <div class="middle">
                    <button class="text" v-on:click="openTypeViewPartial">Types</button>
                </div>
            </div>
            <div class="container2 column images border border-dark" style="flex: 1">
                <img src="Resources/Images/frontImage.png" alt="Avatar" style="width: 100%" height="218">
                <div class="middle">
                    <button class="text" v-on:click="openFrontImageViewPartial">Front Image</button>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/Dashboard/_CustomerPartial.cshtml"/>
    <partial name="~/Views/Shared/Dashboard/_OrderPartial.cshtml"/>
    <partial name="~/Views/Shared/Dashboard/_ProductPartial.cshtml"/>
    <partial name="~/Views/Shared/Dashboard/_TypePartial.cshtml"/>
    <partial name="~/Views/Shared/Dashboard/_FrontImagePartial.cshtml"/>


</div>
